<% if @user.errors.any? %>
 <ul class="alert alert-danger" role="alert">
   <% @user.errors.full_messages.each do |message| %>
     <li><%= message %></li>
   <% end %>
 </ul>
 <% end %>
<div class="text-center">
<h2> <strong>Sign up</strong> </h2>

<%= form_with(model: @user, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "password-confirmation" %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Create my account " %>
  </div>
<% end %>

</div>
