
  <header class="header-info" id= "header-display">
    <div class="title">
    <%= link_to root_path do %><h1><strong>Facebooky</strong></h1><% end %>
   </div>
    <svg   width="300px" >

    <div id="header-icons" class="text-right">
    <% if logged_in? %>
      <span><%= current_user.email %></span><i class="fas fa-user"></i>
      <%= link_to 'Profile', user_path(current_user.id), :class => 'navbar-link' %> |
      <i class="fas fa-home"></i>    <%= link_to 'Home', root_path, :class => 'navbar-link' %> |
      <i class="fas fa-users"></i>    <%= link_to 'Users', users_path, :class => 'navbar-link' %>  |
      <i class="far fa-dot-circle"></i>    <%= link_to 'Notifications', users_path, :class => 'navbar-link' %>
      <% if notification_counter(current_user).length > 0 %>
        <%= notification_counter(current_user).length%> |
      <% else %>
         |
      <% end %>
      <i class="fas fa-user-edit"></i>    <%= link_to 'Edit profile', edit_user_path(current_user.id), :class => 'navbar-link' %> |
      <%= link_to "Logout", session_path(current_user.id), method: :delete, class: 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_session_path, :class => 'navbar-link'  %>
    <% end %>
    </div>

</header>
